@charset "utf-8";
/* CSS Document */
body, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, span, i, em, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td,q, a, select, option{margin: 0px; padding: 0px; font-weight:normal}
body{font-family:"Microsoft Yahei"; font-size:12px; background:#f2f2f2}
h1, h2, h3, h4, h5, h6{font-size:13px}
table{border-collapse:collapse}
button{cursor:pointer;font-family:"Microsoft Yahei";}
input,select,textarea{font-family:"Microsoft Yahei"; outline:none; vertical-align:middle; border:1px solid #d5d5d5;}
em,u,i{font-style: normal;}
u{text-decoration:none;}
dl,ul,ol,li{list-style:none;}
img{ border:0px;}
pre{white-space: pre-wrap;word-wrap: break-word;}
a{color:#333;text-decoration:none; outline:none}
a:hover{color:#1982c8; text-decoration:underline}
.pos_rel{ position:relative;}
.hidden{display:none;height:0px;overflow:hidden;}
.fl{float:left!important}.fr{float:right!important}
.cl{clear:both}
.cf{*display:inline-block;*zoom:1}
.cf:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.show{display:block!important}
.red{color:#e17665}
.blue{color:#1982c8}
.green{color:#67ac40}
.bg_green{background:#82af6f!important}
.bg_none{background:none!important}
.bg_blue{background:#5fa7d3!important}
.bg_gray{background:#f1f1f1}
.bg_gray_f9{background:#f9f9f9}
.txt_rt{text-align:right!important}
.txt_c{text-align:center!important}
.mg_tb_10{margin-bottom:10px; margin-top:10px}
.mg_b_0{margin-bottom:0!important}
.mg_tb_30{margin-top:30px; margin-bottom:30px}
.mg_t_10{margin-top:10px}
.pd_t_10{padding-top:10px!important}
.btn_blue{background:#408ebc!important}
.btn_gray{background:#e7e7e7!important; color:#666!important}

.triangle{border-width:7px 6px 0; border-color:#717171 transparent transparent transparent; border-style:solid dashed dashed dashed; position:relative; display:none}
.triangle em{position:absolute; left:-4px; top:-8px; border-width:6px 4px 0; border-color:#fff transparent transparent transparent; border-style:solid dashed dashed dashed;}
.triangle_l{border-width:4px 0 4px 4px; border-color:transparent transparent transparent #4987b9; border-style:dashed dashed dashed solid; display:none}

/*head*/
#head{background:#408ebc; height:45px; line-height:45px; padding:0 10px; overflow:hidden}
#head h1{float:left}
#head h1 a{color:#fff; font-size:22px}
#head h1 a:hover{text-decoration:none}
#head .nav_btn{float:right}
#head .nav_btn .username{float:left; color:#fff; padding:0 10px}
#head .nav_btn a{float:left; background:url(../images/top_nav.png) no-repeat; width:24px; height:20px; position:relative; margin:14px 18px 0 12px}
#head .nav_btn .top_nav2{background-position:0 -25px}
#head .nav_btn .top_nav3{background-position:0 -50px}
#head .nav_btn q{float:left; width:0px; height:18px; border-left:1px solid #fff; overflow:hidden; margin-top:15px}
#head .nav_btn i{position:absolute; top:-7px; right:-8px; width:0; height:0; border:4px solid #ff3737; border-radius:4px}
#head .btn_menu{float:left; background:url(../images/btn_menu.png) no-repeat; width:40px; height:35px; margin:5px 10px 0 0; cursor:pointer; display:none}

#container{clear:both; position:relative}
/*sidebar*/
.sidebar{float:left; width:189px; border-right:1px solid #ccc; background:#f3f3f3}
.sidebar:before{content:""; position:absolute; top:0; bottom:0; display:block; background-color:inherit; border:inherit; width:inherit; z-index:-1}
.sidebar a:hover{text-decoration:none}
.menu{background:#f8f8f8; position:relative}
.menu .active{position:relative; background-color:#fff;border-left-color:#609ccb}
.active:after,.sidebar_min .menu.curr:before{content:""; position:absolute; right:0; top:4px; border-width:15px 10px 15px 0; border-color:transparent #257bbd transparent transparent; border-style:dashed solid dashed dashed; z-index:1}
.menu > .active:before{content:""; position:absolute; right:-1px; top:0; border-right:2px solid #257bbd; height:100%}
/*.menu .active:hover{background-color:inherit; color:inherit}*/
.menu>a{display:block; height:39px; line-height:39px; border-bottom:1px solid #e6e6e6; background:url(../images/ico_sideList.png) no-repeat 8px 11px; padding-left:35px; border-left:3px solid #f8f8f8; font-size:14px}
.menu>a.open,.menu>a:hover,.menu > .active{border-left:3px solid #609ccb; color:#5062ad; background-position:8px -189px; background-color:#fff}
.menu > .active{border-left-color:#fff}
.menu>a .triangle,.side_list2>li .triangle{float:right; margin:16px 10px 0 0; display:block}
.menu>a.open .triangle,.menu>a:hover .triangle,.menu .active .triangle,.side_list2>li>a.open .triangle,.side_list2>li>a:hover .triangle{border-top-color:#2a7dc0}
.menu .nav2{background-position:8px -29px}
.menu .nav2:hover,.menu .nav2.open,.menu .active.nav2{background-position:8px -229px}
.menu .nav3{background-position:8px -69px}
.menu .nav3:hover,.menu .nav3.open,.menu .active.nav3{background-position:8px -269px}
.menu .nav4{background-position:8px -109px}
.menu .nav4:hover,.menu .nav4.open,.menu .active.nav4{background-position:8px -309px}
.menu .nav5{background-position:8px -149px}
.menu .nav5:hover,.menu .nav5.open,.menu .active.nav5{background-position:8px -349px}
.sidebar .warn{background:url(../images/ico_warn.png) no-repeat; width:16px; height:15px; float:right; margin:12px 10px 0 0}
.side_list .curr:after{content:""; position:absolute; top:0; right:-1px; border-right:2px solid #257bbe; height:100%}

.side_list2{background:#fff; display:none}
.menu>.open~.side_list2{display:block}
.sidebar_max .menu>.open~.side_list2{display:block!important}
.side_list2>li{border-left:1px dotted #9dbdd6; margin-left:18px}
.side_list2>li>a:hover{background:#f4f7fa}
.side_list2>li>a{display:block; height:34px; line-height:34px; position:relative; border-bottom:1px dotted #e4e4e4}
.side_list2>li>a.open .triangle_l,.side_list2>li>a:hover .triangle_l,.active .triangle_l{float:left; display:block; position:absolute; left:-1; top:13px}
.active .triangle_l{border-left-color:#ca6132}
.side_list2 > li > .active:before{border-color:#fff}
.side_list2>li>a.open,.side_list2 > li > .active{color:#1982c8}
.side_list2>li>a:before{content:""; width:8px; border-top:1px dotted #9cbcd7; float:left; margin:16px 10px 0 0}
.side_list2>li>a.open:before,.side_list2>li>a:hover:before{border-top-color:#fff}

.side_list3{display:none}
.side_list2>li>.open~.side_list3{display:block}
.side_list3 a{display:block; height:34px; line-height:34px; border-bottom:1px dotted #e4e4e4}
.side_list3 a:hover,.side_list3 .btn_currPage{background:#f5f7fb; color:#1982c8}
.side_list3 .triangle_l{display:block; float:left; margin:12px 7px 0 24px; border-left-color:#757575}
.side_list3 a:hover .triangle_l,.side_list3 .btn_currPage .triangle_l{border-left-color:#ca6132}
.curr .side_list3 a:hover:after,.side_list3 .btn_currPage:after{content:""; float:right; border-width:17px 8px 17px 0; border-color:transparent #257bbd transparent transparent; border-style:dashed solid dashed dashed}

.sidebar .btn_collapse{background:url(../images/btn_collapse.png) no-repeat center 8px; height:42px; border-bottom:1px solid #e0e0e0; cursor:pointer}
.sidebar .btn_collapse.pull_left{background-position:center -26px}
/*sideba_min*/
.sidebar_min{width:44px}
.sidebar_min .menu{position:relative; z-index:10}
.sidebar_min .menu_txt{position:absolute; left:44px; top:0; width:164px; padding-left:10px; border:1px solid #ccc;background:#f5f5f5; color:#1982c8; display:none}
.sidebar_min .menu_txt:before{content:""; position:absolute; left:-9px; top:11px; background:url(../images/triangle_sidemin.png) no-repeat; width:9px; height:16px}
.sidebar_min .menu > a .triangle{display:none}
.sidebar_min .warn{display:none}
.sidebar_min .side_list2{position:absolute; left:44px; top:40px; width:174px; border:1px solid #ccc; border-top:none}
.sidebar_min .menu:hover .side_list2,.sidebar_min .menu:hover .menu_txt{display:block!important} 
/*.sidebar_min .curr:after{display:none}*/
.sidebar_min .menu.curr:after{display:block}
.sidebar_min .side_list2 > li{border:none; margin:0}
.sidebar_min .side_list2 > li > a:before{border-color:transparent}
.sidebar_min .side_list2 > li > a{padding-left:15px}
.sidebar_min .side_list2 > li > a:hover .triangle_l,.sidebar_min .side_list2 > li > .open .triangle_l{left:15px}
.sidebar_min .side_list3 a:hover:after,.sidebar_min .side_list3 .btn_currPage:after,.sidebar_min .active:after{display:none}
.sidebar_min .curr>a{border-left-color:transparent}
.sidebar_min .curr>a:hover{border-left-color: #609ccb}
.sidebar_min .curr:hover:after,.sidebar_min .curr:hover:before,.sidebar_min .menu > .active:before{display:none}
.sidebar_min .menu .active{position:static}

/*main*/
.main{margin-left:190px; background:#fff}
.sidebar_min ~ .main{margin-left:45px}
.location{height:39px; border-bottom:1px solid #e6e6e6; padding-left:45px; line-height:40px; font-size:13px; background:url(../images/ico_sideList.png) no-repeat 22px 11px #f5f5f5; margin-bottom:10px}
.location a{color:#1982c8}
.location span{color:#b3b7c1; padding:0 5px}

.btn{display:inline-block; height:35px; width:89px; border:none; background:url(../images/buttons.png) no-repeat; text-indent:-999em; margin:10px 0}
.set_buttons{margin-bottom:10px; height:30px}
.btn_add{height:31px; background-position:0 -105px; background-color:#86b97e; color:#fff; text-indent:0; text-align:left; padding:0 10px 0 26px; width:auto}
.btn_save{height:31px; background-position:0 -105px; background-color:#86b97e; color:#fff; text-indent:0; text-align:left; padding:0 20px 0 20px; width:auto}
.set_buttons .btn_add{float:right; margin:0}

.content{padding:0 20px; position:relative; font-size:13px}
.content select{border:1px solid #d5d5d5; padding:1px 0 1px 10px; color:#666}
.content option{padding:0 10px}

/*翻页*/
.page{padding:15px 12px; height:32px; background:#eff3f8; border-bottom:1px solid #e0e0e0}
.page li.page{padding:0px;}
.page .pageCur{float:right;}
.page .itemNum{float:left}
.pageNum{float:right}
.pageNum a{float:left; width:32px; height:30px; line-height:30px; text-align:center; border:1px solid #d4dfe4; border-right:none; background:#fafafa; color:#2a7ccf}
.pageNum a:hover{text-decoration:none}
.pageNum .end{border-right:1px solid #d4dfe4}
.pageNum .curr{background:#6cadda; color:#fff}
.pageNum .disable{color:#a3a3a3; cursor:not-allowed}

/*浏览器宽度小于1024*/
@media (max-width:1024px){
	#head .btn_menu{display:block}
	#head .active{background-position:0 -35px}
	.sidebar{position:absolute; left:-190px; top:0; z-index:10}
	.main{margin:0}	
	.sidebar_min ~ .main{margin-left:0}
}

#foot{text-align:center; font-size:14px; border-top:1px solid #e5e5e5; margin:40px 20px 0; padding-top:1px; clear:both}
#foot p{border-top:1px solid #e5e5e5; padding:18px 0 30px}

/*弹出框*/
#popBox{width:312px; border:4px solid #2a7ccf; border-radius:5px; position:absolute; left:50%; top:20%; margin-left:-160px; z-index:30}
#popBox .close{background:url(../images/close.png) no-repeat; width:21px; height:21px; position:absolute; right:1px; top:1px}
#popBox h2{background:#2a7ccf; color:#fff; font-size:14px; height:28px; line-height:28px; padding-left:10px}
#popBox .pop_content{background:#fff; min-height:95px; font-size:14px; padding:10px 0}
.pd_t_35{padding-top:35px}
#popBox .pop_button{background:#f0f0f0; height:43px; padding-top:12px; text-align:center}
#popBox .pop_button a{display:inline-block; width:85px; height:28px; line-height:28px; text-align:center; color:#fff; background:#6db3e2; margin:0 20px}
#popBox .pop_button a:hover{text-decoration:none}
#popBox .pop_button .center{display:block; float:none; margin:0 auto}
#mask{background:#000;width:100%; height:100%; position:fixed;top:0px;left:0px;z-index:20;opacity:0.3;filter:alpha(opacity=30);}


#pageId{display:none}

/*注释信息*/
.zhu_shi_1{padding-left:30%;color:gray;padding-top:4px;}

/*加载中弹框*/
.loading{font-size:13px;width:217px;position:absolute; left:50%; top:25%; margin-left:-160px; z-index:30;background:url(../images/jiazai.gif) 45px 38px no-repeat #fff;height:110px;line-height:110px;padding-left:95px;}


