@charset "utf-8";
/* 渠道 */
.channel_manage .page{border-bottom:1px solid #e1e1e1}
.info_container{border-top:2px solid #2a7ccf; padding:16px 90px 0 12px; background:#eff3f8; position:relative}
.info_container label{margin-bottom:16px; display:inline-block; width:20%; min-width:250px}
.info_container .text{border:1px solid #d5d5d5; height:22px; padding:0 5px}
.info_container .date{width:26%; min-width:275px}
.info_container .date .text{width:calc(45% - 50px); min-width:80px}
.info_container .addr select{width:calc(45% - 25px); min-width:80px; margin-right:-4px}
.btn_search{float:right; width:79px; margin:0; text-indent:0; border-right:1px solid #ccc; color:#1883c9; text-align:left; padding-left:32px/*background:-webkit-gradient(linear, 100% 0, 100% 100%, from(#fdfdfd), to(#f0f0f0));background:-moz-linear-gradient(top, #fdfdfd,#f0f0f0);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fdfdfd,endColorstr=#f0f0f0,grandientType=0);*/}
.info_container .btn_search{position:absolute; right:12px; top:calc(50% - 17px)}
.info_container .text,.info_container select{width:calc(85% - 60px); min-width:120px}
.btn_export{background-position:0 -70px; margin-right:8px}
.btn_print{background-position:0 -35px}
.channel_manage table,.table_type1{width:100%; color:#333}
table td,table th{border:1px solid #ddd; padding-left:10px; height:36px; text-align:left}
.table_type1 th{background:url(../images/bg_th.png) repeat-x}/*background:-webkit-gradient(linear, 100% 0, 100% 100%, from(#f7f7f7), to(#ececec));background:-moz-linear-gradient(top, #f7f7f7,#ececec);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7,endColorstr=#ececec,grandientType=0);*/}
.channel_manage tr,.table_type1 tr{background:#fff}
.table_type1 tbody tr:nth-child(2n+1){background:#f8f8f8}
.operate .btn_operate{position:relative; float:left}
td a{color:#1982c8}
.operate .btn_operate > a:after{content:""; border-width:7px 6px 0; border-color:#1f85c5 transparent transparent transparent; border-style:solid dashed dashed dashed; display:inline-block; margin:3px 0 0 5px}
.operate ul{position:absolute; background:#fff; border:1px solid #ddd; border-radius:3px; white-space:nowrap; right:-4px; top:-7px; display:none; z-index:5}
.operate ul a{display:block; height:30px; line-height:30px; padding:0 20px; text-align:right}
.operate ul a:hover{background:#fa953a; color:#fff; text-decoration:none}
th.sort{cursor:pointer}
th.sort:after{content:""; background:url(../images/sort.png) no-repeat; float:right; width:9px; height:11px; margin-right:7px}
th.sort_desc:after{background-image:url(../images/desc.png)}
th.sort_asc:after{background-image:url(../images/asc.png)}
th.sort_desc{background:-webkit-gradient(linear, 100% 0, 100% 100%, from(#eff3f8), to(#e3e7ed));background:-moz-linear-gradient(top, #eff3f8,#e3e7ed);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff3f8,endColorstr=#e3e7ed ,grandientType=0); color:#307ecc}
th.sort_asc{background:-webkit-gradient(linear, 100% 0, 100% 100%, from(#eff3f8), to(#e3e7ed));background:-moz-linear-gradient(top, #eff3f8,#e3e7ed);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#eff3f8,endColorstr=#e3e7ed ,grandientType=0); color:#307ecc}
/*添加渠道*/
.account_step{padding:8px 0 18px 2%; text-align:center}
.account_step li{display:inline-block; width:15%; min-width:110px; height:24px; line-height:24px; text-align:center; color:#fff; background:#5fa7d3; position:relative; margin-right:3%; padding-left:7px}
.account_step li:before,.account_step li:after{content:""; position:absolute; right:-7px; top:0; border-width:12px 0 12px 7px; border-color:transparent transparent transparent #5fa7d3; border-style:dashed dashed dashed solid}
.account_step li:before{border-left-color:#fff; left:0}
.account_step .currStep{background:#82af6f}
.account_step .currStep:after{border-left-color:#82af6f}
.inputInfoList{border-top:1px solid #999}
.inputInfoList h2{padding:25px 0 20px}
.inputInfoList_lf{float:left; width:50%; border-right:1px dashed #999}
.inputInfoList_rt{margin-left:50%; padding-left:25px}
.inputInfoList label,.inputInfoList2 label{display:inline-block; width:30%; text-align:right}
.inputInfoList_rt label{width:23%}
.inputInfoList select,.inputInfoList .text,.inputInfoList2 select,.inputInfoList2 .text,.inputInfoList3 select,.inputInfoList3 .text{width:50%; height:34px;  color:#333}
.inputInfoList .text{padding:0 10px; height:32px; width:calc(54% - 22px)}
.inputInfoList .sel_min{width:25%}
.inputInfoList .sel_min:last-child{margin-left:-5px}
.inputInfoList li,.inputInfoList2 li,.inputInfoList3 li{margin-bottom:15px; position:relative}
.inputInfoList li .red,.inputInfoList2 li .red,.inputInfoList3 li .red{position:absolute; right:20.5%; top:12px; font-weight:bold}
.inputInfoList .inputInfoList_rt li .red{right:27.5%}
.file{position:relative; display:inline-block; width:calc(50% - 22px); height:32px; line-height:32px; padding:0 10px; border:1px solid #d5d5d5; background:#f5f5f5}
.file input{position:absolute; left:0; top:0; width:100%; height:100%; opacity:0}
.inputInfoList .button_wrap,.inputInfoList2 .button_wrap{clear:both; text-align:center; padding-top:35px}
.button_wrap{text-align:center}
.button_wrap a{display:inline-block; width:92px; height:42px; line-height:42px; color:#fff; background:#5fa7d3; margin:0 20px}
.button_wrap input{display:inline-block; width:92px; height:42px; line-height:42px; color:#fff; background:#5fa7d3; margin:0 20px}
.button_wrap a:hover{text-decoration:none}
/*渠道属性配置*/
.set_attr table{margin-bottom:10px}
.set_attr td label{margin:0 2%}
.set_attr td label input{margin-right:5px; vertical-align:bottom}
.table_type2 th{background:#f1f1f1}
.table_type2 th,.table_type2 td{text-align:center; padding:0}
.set_attr .button_wrap a{width:158px; margin-top:65px}

/*站主管理*/
.tit_blue{background:#2a7ccf; color:#fff; height:38px; line-height:38px; font-size:14px; padding-left:14px}
.infoList{border:1px solid #dcebf8}
.infoList li{height:32px; line-height:32px}
.infoList label{float:left; width:100px; padding-right:10px; background:#edf3f4; color:#2e569f; text-align:right; border-bottom:1px solid #f7fbff; height:31px; line-height:31px}
.infoList li p{margin-left:110px; padding-left:10px; border-bottom:1px dotted #dbeaf7; min-height:31px}
.infoList li:last-child p,.infoList li:last-child label{border-bottom:none}
.infoList li:last-child{height:31px}
.tit_tab{border-bottom:1px solid #c4d0dc; margin:10px 0; padding-left:18px; height:42px}
.tit_tab a{float:left; padding:0 12px; border:1px solid #c4d0dc; background:#f9f9f9; height:41px; line-height:41px; border-right:none; color:#666}
.tit_tab a:last-child{border-right:1px solid #c4d0dc}
.tit_tab .curr{border-top:2px solid #498dbe; margin-top:-1px; background:#fff; height:42px; border-bottom:none; color:#333}
.tit_tab a:hover{text-decoration:none}
.inputInfoList2 .btn_search{width:150px; float:none}
.inputInfoList2 li{width:50%; float:left}
.inputInfoList2 h2{margin-bottom:10px}
.inputInfoList2 .sel_min{width:16.8%; margin-right:-4px}
.inputInfoList2 .tip{width:90%; color:#e17665; line-height:34px; margin-left:8%}
.inputInfoList2 .map{width:100%; height:auto}
.inputInfoList2 .map img{display:block; border:1px solid #808080; margin:auto; width:55%}
.inputInfoList2 .agreement{width:100%; text-align:center; line-height:34px}
.inputInfoList2 .agreement a{color:#1982c8; margin-left:5px; vertical-align:middle}
.inputInfoList2 .button_wrap{padding-top:15px}
/*彩民管理*/
.table_type1 tfoot tr{background:#fff}
.inputInfoList3{margin:25px 0 0}
.inputInfoList3 label{display:inline-block; width:25%; text-align:right; margin-right:10px}
.inputInfoList3 select,.inputInfoList3 .text{width:30%; padding:0 10px}
.inputInfoList3 select{margin-left:-4px; width:calc(30% + 22px)}
.button_wrap a:first-child{background:#82ae6f}
.inputInfoList3 .button_wrap{background:#f5f5f5; height:42px; padding:20px 0; border-top:1px solid #e5e5e5; margin-top:80px; text-align:center}
/*首页*/
.row{display:table; width:100%}
.indexBlock{float:left}
.indexBlock h2{padding-left:35px; background:url(../images/tit_index.png) no-repeat 3px 5px; height:34px; line-height:34px; border-bottom:1px solid #dbe8f1; color:#3578ac; font-size:14px; margin-bottom:8px}
.indexBlock2 h2,.indexBlock4 h2{background-position:5px -23px}
.indexBlock3 h2{background-position:5px -53px}
.indexBlock h2 span{color:#666}
.indexBlock1{width:55%}
.indexBlock1 li{border:1px dotted #d8d8d8; float:left; width:33%; min-width:185px; height:56px; padding:35px 0 20px; margin:-1px 0 0 -1px; background:#fff; color:#9abe21}
.indexBlock1 li i{float:left; width:44px; height:44px; background:url(../images/ico_index.png) no-repeat; margin:0 10px}
.indexBlock1 .cell_blue i{background-position:0 -60px}
.indexBlock1 .cell_blue{color:#6cb3e2}
.indexBlock1 .cell_pink i{background-position:0 -120px}
.indexBlock1 .cell_pink{color:#cc6ad9}
.indexBlock1 .cell_yellow i{background-position:0 -180px}
.indexBlock1 .cell_yellow{color:#f1d259}
.indexBlock1 .cell_orange i{background-position:0 -240px}
.indexBlock1 .cell_orange{color:#f08a56}
.indexBlock1 .cell_blue2 i{background-position:0 -300px}
.indexBlock1 .cell_blue2{color:#4fa3eb}
.indexBlock1 .data{float:left; font-size:20px}
.indexBlock1 .data p{font-size:13px; color:#333}
.indexBlock2{float:right; width:43%}
.indexBlock2 .dataBox{border:1px solid #ddd; height:223px}
.hr{height:0; width:100%; border-bottom:1px dotted #d8d8d8}
.indexBlock3{width:48%}
.indexBlock3 th:before{content:""; border-width:4px 0 4px 4px; border-style:dotted dotted dotted solid; border-color:transparent transparent transparent #438dcc; margin-right:10px; float:left; margin-top:5px}
.indexBlock3 th,.indexBlock3 td{height:44px}
.indexBlock3 th:first-child,.indexBlock3 td:first-child{border-left-width:0}
.indexBlock3 th:last-child,.indexBlock3 td:last-child{border-right-width:0}
.indexBlock3 tbody tr:nth-child(2n+1){background:#f9f9f9}
.indexBlock4{float:right; width:50%}
.indexBlock4 .dataBox{width:100%}
/*浏览器宽度小于1024*/
@media (max-width:1024px){
	.indexBlock{width:100%!important}
}
.inputInfoList3 li .red{left:56%}
.inputInfoList3 .file{width:calc(31% - 20px); margin-left:-4px}
.inputInfoList3 textarea{border:1px solid #d5d5d5; vertical-align:text-top; width:calc(31% - 20px); margin-left:-4px; overflow-y:scroll; font:13px/20px "Microsoft Yahei"; padding:5px 10px}

.pop_table1{margin:10px auto}
#popBox input[type="radio"],#popBox input[type="checkbox"]{margin-right:5px}
.pop_table1 label span{vertical-align:middle}
.pop_table1 select{width:90%; border:1px solid #d5d5d5}
#popBox .inputInfoList3{margin-top:10px}
#popBox .inputInfoList3 .text,#popBox .inputInfoList3 select{height:24px; width:55%}
#popBox .inputInfoList3 select{margin:0; width:calc(55% + 22px)}
#popBox .inputInfoList3 li .red{left:90%; top:6px}
#popBox .inputInfoList3 label{width:30%; margin-right:5px}
#popBox .inputInfoList3 textarea{border:1px solid #d5d5d5; width:55%; margin-left:0}
#popBox .infoList{width:90%; margin:auto}
/*添加角色*/
.listBox{float:left; width:40%; padding-left:10px}
.listBox h3{margin-bottom:10px}
.listBox h3 .btn{background:#5fa7d3; text-indent:0; color:#fff; width:70px; margin-left:10px}
.listBox li{margin-bottom:15px}
.listBox li input{margin-right:8px}
.listBox li span{vertical-align:middle}
.listBox li ul{margin:15px 0 0 30px}
.listBox .triangle_l{display:inline-block; margin-right:5px; border-left-color:#757575}
.inputInfoList3 .button_wrap2{background:none; border:none; margin-top:0}

/*登录*/
#headLogin{background:url(../images/logo_login.png) no-repeat center 60px #408ebc; height:120px}
.loginWrap{width:366px; height:408px; padding:32px 0 0 74px; margin:55px auto 80px; background:#fff; box-shadow:0 0 5px 3px #dedede}
.loginWrap h2{background:url(../images/tx.png) no-repeat; padding-left:50px; font-size:20px; color:#666; height:38px; line-height:38px; margin-bottom:20px}
.loginWrap .text{border:1px solid #d0d0d0; height:44px; line-height:44px; width:264px; padding:0 14px; font-size:14px; vertical-align:middle; color:#999}
.loginWrap li{height:90px}
.loginWrap li .yzm{display:inline-block; width:95px; height:30px; vertical-align:middle; margin:0 5px 0 7px}
.loginWrap .refresh{background:url(../images/refresh.png) no-repeat; display:inline-block; width:30px; height:30px; vertical-align:middle; cursor:pointer}
.loginWrap li p{color:#ff6100; font-size:13px; line-height:32px}
.loginWrap .button_wrap{padding-right:74px}
.loginWrap .button_wrap input{height:36px; line-height:36px; width:108px; font-size:14px; margin:0 18px; border:none; color:#fff; background:#408ebc; cursor:pointer}
#login{background:#f2f2f2}
#login #foot{margin:0}